{
  "lastChangelogVersion": "99.99.99",
  "theme": "{{ if .omarchy }}omarchy-system{{ else }}dracula{{ end }}",
  "defaultProvider": "home-magpie",
  "defaultModel": "group/daily",
  "defaultTools": [
    "+codemode"
  ],
  "packages": [
    "npm:@sherif-fanous/pi-dracula",
    "npm:@narumitw/pi-subagents",
    "npm:@cortexkit/pi-magic-context",
    "npm:@juanibiapina/pi-powerbar",
    "npm:@narumitw/pi-goal",
    "npm:pi-web-access",
    "npm:pi-extmgr",
    "git:github.com/NVlabs/SoL-Pi"
  ],
  "defaultThinkingLevel": "max"
}
