{
  pkgs,
  flakey-profile,
  omnyssh,
  ...
}:
flakey-profile.lib.mkProfile {
  inherit pkgs;
  paths = with pkgs; [
    (omnyssh.packages.${pkgs.stdenv.hostPlatform.system}.omnyssh.overrideAttrs (old: {
      patches = (old.patches or [ ]) ++ [
        ../patches/omnyssh-xdg-no-ssh-config.patch
      ];
    }))
    {{- range .homepkgs.shared }}
    {{ . }}
    {{- end }}
    {{- if .work }}
    {{- range .homepkgs.work }}
    {{ . }}
    {{- end }}
    {{- end }}
    {{- if .private }}
    {{- range .homepkgs.private }}
    {{ . }}
    {{- end }}
    {{- end }}
  ];
}
